---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Call from '../components/Contact.astro';

let title = 'Cute Blog Website';
let description = 'Build fast website and blog with cuteblog astro.';
let cover ='https://img.freepik.com/free-vector/m-commerce-3d-illustration-online-shopping-online-payment-delivery-concept-with-floating-elements-sale-banner-gift-box-discount-social-advertising-3d-vector-illustration_145666-1499.jpg';
let permalink = 'https://cuteblog.web.app';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseHead {title} {description} {cover} {permalink} />

<body>
	<main class="container">
		<BlogHeader />
				<header class="col-12 p-3 p-md-5">
					<h1><a href="/">{title} ✒️</a></h1>
					<h2>{description}</h2>
				</header>
				<section class="row mb-5 p-3">
					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>
	</main>
<Call/>

